* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Open-Sans-Reg";
    src: url("../fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open-Sans-Bold ";
    src: url("../fonts/OpenSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

.header {
    background-image: url("../images/banner-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
    padding-top: 25px;
}

.header::before {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    top: 0;
}

.header-content {
    max-width: 1170px;
    color: #ffffff;
    font-size: 1.2rem;
    z-index: 2;
    padding: 0 35px;
}

.header-logo-menu {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: block;
    width: 180px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu-items {
    display: flex;
    list-style-type: none;
}

.header-menu-item:nth-last-child(1n+2) {
    margin-right: 38px;
}

.header-menu-link {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open-Sans-Reg";
    color: #ffffff;
}

.header-menu-link:hover {
    color: #f4f7f6;
    text-decoration: underline;
}

.header-menu-hidden {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 25px;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
    display: none;
}

.header-menu-hidden-item {
    background-color: #ffffff;
    width: 25px;
    height: 3px;
}

.header-content>.header-title {
    font-family: "Open-Sans-Bold", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-align: center;
    width: 65%;
    margin: 100px auto 0 auto;
}

.popup__hidden {
    width: 390px;
    height: 590px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 50px 25px;
    font-size: 1.4rem;
    position: fixed;
    z-index: 2;
    top: 20%;
    left: 40%;
    display: none;
}

.popup__hidden::before {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup__hidden>.feedback-title {
    margin-bottom: 20px;
}

.popup_feedback {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.question_visit {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-position: right 5px center;
    height: 25px;
    width: 100%;
    background-size: 8px;
    background-repeat: no-repeat;
    border: none;
    color: #bdc0bf;
    padding: 0 15px;
    margin-top: 15px;
}

.question_visit:focus-visible,
.question_feedback:focus-visible {
    border-bottom: 1px solid #b59f5b;
    outline: none;
}

.ask_email {
    margin-bottom: 15px;
}

.question_email {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.question_email_group:nth-child(2n+1) {
    margin-left: 15px;
}

.answer_email::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: centercenter;
    background-size: 20px;
    vertical-align: sub;
    margin-right: 8px;
}

.question_email:checked~.answer_email::before {
    background-image: url(../svg/form-circle.svg);
}

.question_feedback {
    width: 100%;
    margin-top: 15px;
    border: none;
    padding: 15px;
    resize: none;
}

.popup_button {
    width: 100%;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px auto 0;
    max-width: 1170px;
    padding: 0 20px;
}

.trands .aside-title-link,
.products .aside-title-link {
    flex-basis: 100vw;
    font-family: "Open-Sans-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    align-self: flex-end;
    margin-top: 60px;
    margin-bottom: 25px;
}

.trands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.trands-item {
    width: 24.8%;
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: bottom;
}

.trands-item::before {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
}

.trands-item-wrap {
    border: 3px solid #b59f5b;
    padding: 35px;
    margin: 15px 24px;
    z-index: 2;
}

.trands-item-wrap>.post-title {
    color: #ffffff;
}

.garden {
    background-image: url(../images/trend1.jpg);
}

.cheese {
    background-image: url(../images/trend2.jpg);
}

.mountain {
    background-image: url(../images/trend3.jpg);
}

.limon {
    background-image: url(../images/trend4.jpg);
}

.main-content {
    width: 780px;
}

.posts-item {
    display: flex;
}

.posts-item:nth-child(n+2) {
    margin-top: 60px;
}

.post-image {
    width: 380px;
    display: block;
}

.post-content {
    margin-left: 30px;
}

.post-tags {
    list-style: none;
    margin-bottom: 5px;
    display: flex;
}

.post-tags-item {
    color: #b59f5b;
    font-family: "Open-Sans-Bold", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.1;
}

.post-tags-items:nth-child(n+2) {
    margin-left: 15px;
}

.post-title {
    font-family: "Open-Sans-Bold", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #0f0d0e;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 35px;
}

.post-row {
    font-size: 1.4rem;
    margin: 30px 0 40px;
}

.post-date {
    color: #888888;
    font-family: "Open-Sans-Reg", sans-serif;
    font-size: 1.2rem;
}

.aside-post-content .post-date {
    display: block;
    margin-bottom: 6px;
}

.post-author {
    font-family: "Open-Sans-Bold", sans-serif;
    font-weight: 700;
    margin-left: 8px;
    text-decoration: none;
    color: #0f0d0e;
}

.post-text {
    font-family: "Open-Sans-Reg", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.post-text>p:nth-child(n+2) {
    margin-top: 16px;
}

.aside-content {
    width: 280px;
}

.aside-title-link {
    font-family: "Open-Sans-Bold", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #0f0d0e;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.aside-widget:nth-child(n+2) {
    margin-top: 60px;
}

.aside-title::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.4;
    margin: 10px auto 0;
}

.aside-post-item {
    display: flex;
}

.aside-post-item:nth-child(n+2) {
    margin-top: 20px;
}

.aside-post-image {
    width: 70px;
    display: block;
}

.aside-post-content {
    margin-left: 18px;
}

.aside-post-subtitle {
    color: #0f0d0e;
    font-family: "Open-Sans-Bold", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    line-height: 1.5;
    text-transform: uppercase;
}

.search-container {
    display: flex;
    margin-top: 50px;
}

.search-row {
    width: calc(100% - 48px);
}

.input-hidden {
    text-decoration: none;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.input-item {
    width: 100%;
    height: 4.8rem;
    border: 1px solid #b59f5b;
    padding: 0 15px;
}

.input-item:focus {
    border: none;
    border-bottom: 1px solid #b59f5b;
    outline: none;
}

.button {
    display: block;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
    color: #ffffff;
    height: 48px;
    font-family: "Open-Sans-Bold", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.button:hover {
    background-color: #323232;
}

.search-button {
    width: 48px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
}

.mailing-container {
    margin-top: 30px;
}

.mailing-button {
    width: 100%;
    margin-top: 15px;
}

.aside-tags-items {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.aside-tags-link {
    text-decoration: none;
    color: #0f0d0e;
    font-size: 1.6rem;
    font-family: "Open-Sans-Bold", sans-serif;
    font-weight: 700;
    border: solid 3px #eeeeee;
    padding: 5px 10px;
    display: block;
}

.aside-tags-link:hover {
    border: solid 3px #b59f5b;
}

.aside-tags-item {
    margin: 5px 0;
}

.aside-tags-item:nth-child(3n+2) {
    margin: 5px 10px;
}

.aside-themes-items {
    list-style: none;
    margin-top: 15px;
    font-family: "Open-Sans-Bold", sans-serif;
    font-weight: 700;
}

.aside-themes-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.aside-themes-item:nth-child(n+2) {
    margin-top: 25px;
}

.aside-themes-link {
    text-decoration: none;
    color: #0f0d0e;
    font-size: 1.6rem;
}

.aside-themes-link:hover {
    color: #b59f5b;
}

.aside-themes-sup {
    vertical-align: super;
    color: #b59f5b;
    font-size: 1.2rem;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    flex-basis: 100%;
}

.products-item {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.products-image {
    width: 86%;
    text-align: center;
}

.products-description {
    border: 3px solid #b59f5b;
    padding: 50px 20px;
    font-family: "Open-Sans-Bold", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin-top: -30px;
    position: relative;
    flex-grow: 1;
}

.products-text-link {
    text-decoration: none;
    color: #b59f5b;
}

.products-buy {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: 700;
    flex-wrap: wrap;
}

.products-price {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.products-price-old {
    text-decoration: line-through;
}

.products-price-new {
    font-size: 2.4rem;
}

.buying-button {
    padding: 15px 25px;
}

.footer {
    margin-top: 60px;
    padding-bottom: 40px;
}

.footer-wrap {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.socials {
    padding: 25px 0;
    background-color: #f4f7f6;
}

.socials-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-item {
    list-style: none;
}

.socials-item:nth-child(n+2) {
    margin-left: 25px;
}

.social-link {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
    display: block;
}

.social-text {
    text-decoration: none;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.social-twitter {
    background-image: url("../svg/004-twitter.svg");
}

.social-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.social-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

.social-instagram {
    background-image: url("../svg/005-instagram.svg");
}

.social-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    text-align: center;
    margin-top: 70px;
}

.copyright-link {
    font-family: "Open-Sans-Bold", sans-serif;
    color: #888888;
    font-size: 1.5rem;
    text-decoration: none;
}

@media screen and (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }
    .trands-item {
        width: 49.7%;
    }
    .trands-item:nth-child(n+4) {
        margin-top: 5px;
    }
    .main-content {
        width: 55%;
    }
    .products-item {
        width: 48%;
    }
    .products-item:nth-child(n+3) {
        margin-top: 25px;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .header {
        background-image: url(../images/banner-mobile.jpg);
        padding-bottom: 200px;
    }
    .header-logo-menu {
        justify-content: center;
    }
    .header-logo {
        width: 70%;
        margin-top: 220px;
    }
    .header-content>.header-title {
        width: 80%;
        margin-top: 40px;
    }
    .trands-item {
        width: 100%;
    }
    .trands-item:nth-child(n+3) {
        margin-top: 5px;
    }
    .trands-item-wrap {
        width: 100%;
    }
    .main-content {
        width: 100%;
    }
    .aside-content {
        width: 100%;
        margin-top: 45px;
    }
    .aside-tags-items>.aside-tags-item {
        margin: 5px;
    }
    .products-item {
        width: 100%;
    }
    .products-item:nth-child(n+3) {
        margin-top: 25px;
    }
}

@media screen and (min-width: 360px) and (max-width: 1199px) {
    .main-wrap {
        padding: 0 40px;
    }
    .posts-item {
        flex-direction: column;
    }
    .post-content {
        margin-left: 0;
    }
    .post-image-wrap {
        margin-bottom: 5px;
    }
    .post-image {
        width: 100%;
    }
    .header-menu {
        display: none;
    }
    .header-menu-hidden {
        display: flex;
    }
    .trands-item {
        background-size: cover;
    }
}